<header class="<%= typeof navClass !== 'undefined' ? navClass : 'menu-wrapper' %>">
  <div class="logo">
    <img src="/images/safarilogo.png" alt="SAFARI">
  </div>
  <nav>
    <ul class="nav-list">
      <li><a href="/">START</a></li>
      <li><a href="/#section2">MUST VISIT</a></li>
      <li><a href="/#section3">WILDLIFE</a></li>
      <li><a href="/#section4">TOURS</a></li>
      <li><a href="/#section5">CONTACT</a></li>
      <li><a href="/checkout">BUY NOW</a></li>
    </ul>
  </nav>
</header>

